<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary btn-md align-right" (click)="gotToPizzas()">Add more pizzas</button>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
<br/>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let data of orderList">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid img-thumbnail image-style" src="{{data.image}}" alt="" />
      </div>
      <div class="col-sm-4">
        <span>{{data.name}}</span>
        <br/>
        <span>{{data.price}}</span> Rs
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary btn-md align-right" (click)="removeFromCart(data.id)">Remove</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-4">
        Amount: <span>{{ getSum(orderList) }}</span> Rs
      </div>
    </div>
  </li>
</ul>
