    .list-group .list-group-item .row .image-style {
      border: none;
      border-radius: 15px;
    }

    .align-right {
      float: right;
    }

    .list-group-item {
      border-radius: 5px !important;
    }
